@media screen and (max-width: 1200px) {
    header {
        width: 90%;
        margin: 0 auto;
    }

    .intro-content {
        display: inline-block;
        width: 70%;
    }

}

@media screen and (max-width: 1024px) {
    .hero .hero-content {
        padding-top: 50%;
    }
}

/* Responsive improvements */
@media screen and (max-width: 991px) {
    header {
        width: 100%;
        padding: 20px;
    }

    .hero .hero-content {
        padding-top: 50%;
    }

    .intro-content {
        display: inline-block;
        width: 75%;
        margin-bottom: 30px;
    }

    .last {
        margin: 0;
    }

    .features {
        padding-bottom: 0;
    }

    .hero-strip {
        margin-top: 0;
    }

    .events .leftcol {
        padding: 0 15px;
        margin-bottom: 15px;
        border-right: none;
    }

    .events .rightcol {
        padding: 0 20px;
    }
    
    #photo-album .img-wrap {
        border-radius: 0;
    }

    .rsvp {
        padding-top: 40px;
    }

    footer .social-share {
        display: none;
    }

    footer .footer-links {
        margin: 120px 0 120px 0;
    }
}

@media screen and (max-width: 640px) {
    .hero .hero-content {
        padding-top: 100%;
    }

    footer .footer-links {
        margin: 50px 0 50px 0;
    }

}

@media screen and (max-width: 480px) {
    .hero .hero-content {
        padding-top: 110%;
    }
    
    .hero .hero-content img {
        width: 65%;
    }

    .hero .btn {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .hero .btn:first-of-type {
        margin-bottom: 20px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .logo-title {
        font-size: 30px !important;
    }

    h3.header {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .rsvp-form .form-input-group {
        width: 100% !important;
    }
    
    .rsvp-form .col-md-6, .rsvp-form .col-sm-6 {
        width: 100% !important;
    }

    .btn-margin-right {
        margin-right: 0px;
    }

    .features {
        padding-bottom: 0;
    }

    .down-arrow {
        display: none;
    }

}

@media screen and (max-width: 320px) {
    .hero .hero-content {
        padding-top: 130%;
    }

    .rsvp {
        padding-top: 20px;
    }
}
